body {
  //  background: url("img/kZ8VD-DRwS0.jpg");
  //  width: 100%;
  //  height: 100%;
  font-size: 17px;
  color: greenyellow;
}

/*basic reset*/
* {
  margin: 0;
  padding: 0;
}

/*adding a black bg to the body to make things clearer*/
body {
  background: black;
}

canvas {
  position: fixed;
  display: block;
  z-index: -100;
}